<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>l'adresse est Valide</title>
    <style>
        /* Style de la div principale */
        .result-container {
            background-color: #E0F2E9; /* Couleur de fond verte */
            padding: 20px; /* Espacement intérieur */
            border: 2px solid #4CAF50; /* Bordure verte */
            border-radius: 10px; /* Coins arrondis */
            text-align: center; /* Centrer le contenu horizontalement */
            margin: 20px; /* Espacement extérieur */
        }
    </style>
</head>
<body>
    <!-- Div principale pour la décoration verte -->
    <div class="result-container">
        <h2>l'adresse valide est:</h2>
        <p><strong></strong> {{ valide_adresse }}</p>
    </div>
</body>
</html>
